#container {
    display: flex;
    justify-content: center;
}

#carousel {
    width: 900px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 2px;
    overflow: hidden; 
}

#carousel ul {
    width: 4500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#carousel ul li {
    width: 900px;
    height: 600px;
    float: left; 
}

#carousel ul li img {
    cursor: pointer;
}

#carousel-indicators {
    text-align: center;
    margin-top: 20px;  
}

#carousel-indicators a{
    display:inline-block;
    width:13px;
    height:13px;
    background:#fff;
    margin:0 3px;
    border-radius: 25px;
    border:1px solid #a6bfd1;
    cursor: pointer;
    font-size:1px;
    color:#fff;
    text-indent:-10000px;
    overflow:hidden;
}

#carousel-indicators > .activeSlide{
    background:#1ebed6;
}

button {
    margin-top: 300px;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}